* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#root {
    background: linear-gradient(to bottom , #075e54 0% ,#075e54 10% ,#ece5dd 10% , #ece5dd 100% ) ;
    height: 100vh;
}
.container {
    width: 70%;
    height:  calc(100% - 40px);
    padding-top: 20px;
    margin: auto;
    /* background: red; */
    padding-top: 20px;
}
main {
    height: 100%;
}

/*  Sezione Contatti e Cronoligia chat  */
#contacts {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 30%;
    height: 100% ;
    float: left;
    background: white;
}
#contacts::after {
    display: table;
    content: '';
    clear: both;
}

#header-left {
    height: 100px ;
    background-color: green;
}
#search-bar {
    height: 50px;
    display: flex;
    align-items: center;

}
#search-bar input {
    flex-grow: 1;
    padding: 10px;
    margin: 0 10px;
}
#chat-history {
    flex-grow: 1;
    overflow: auto;

}
#chat-history li {
    padding: 10px;
}
        /* Sezione Chat  */
#chat {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    float: left;
    background: pink;
}
#header-right {
    height: 100px ;
    background-color: green;
}
#current-chat {
    flex-grow: 1;
    background: url("img/chat-bg.jpg");
}
#chat-input {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
#chat-input input {
    flex-grow: 1;
    height: 100%;
    font-size: 2em;
}
#chat-input .chat-function {
    display: inline-block;
    font-size: 2em;
    padding: 20px;
}
#chat-history img {
    width: 50px;
    height: 50px;
}
#chat-history h3 {
    display: inline-block;
    padding: 10px;
}
#chat-history span {
    display: inline-block;
}
.message {
    width: 50%;
    padding: 10px;
    clear: both;
}
.received {
    float: left;
    background: white;
}
.sent {
    float: right;
    background: lightgreen;
}
