<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://kit.fontawesome.com/b1053c2d89.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzap</title>
    </head>
    <body>
        <div id="root">
            <div class="container">
                <main>
                    <aside id="contacts">
                        <div id="header-left">
                            <div id="user-info">
                                <img class="avatar" src="img/profile-picture.png" alt="">
                                <h3 class="contact_name"> Marco </h3>
                            </div>

                            <div id="user-options">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>

                        </div>
                        <div id="search-bar">
                        <i class="fas fa-2x fa-search"></i>
                        <input @keyUp.enter="research(contact_search)" type="text" name="" v-model="contact_search">
                        <!-- <i class="fas fa-location-arrow chat-function" @click="">
                        </i> -->

                        </div>
                        <div id="chat-history">

                                <ul>
                                    <li  v-for="(contact,contactIndex) in contacts"  @click="change_current_contact(contactIndex)" v-if="contact.visible == true">
                                        <img class="avatar" :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                                        <h3 class="contact_name"> {{contact.name}}</h3>
                                        <span>{{contactIndex}}</span>

                                    </li>
                                </ul>

                        </div>

                    </aside>
                    <section id="chat">
                        <div id="header-right">
                            <div id="chat-contact">
                                <img class="avatar" :src="'img/avatar' + contacts[contactIndex].avatar + '.jpg'" alt="">
                                <h3 class="contact_name"> {{contacts[contactIndex].name}}
                                </h3>
                            </div>
                            <div id="chat-options">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>

                        </div>
                        <div id="current-chat">
                             <ul >
                                <li class="message" v-for="(message_obj,messageIndex) in contacts[contactIndex].messages" :class="message_obj.status" @click="change_current_contact()">
                                    {{message_obj.message}}
                                </li>
                            </ul>

                        </div>
                        <div id="chat-input">
                            <i class="far fa-smile chat-function"></i>
                            <input type="text" name="" value="" v-model="message_sent">
                            <i class="fas fa-location-arrow chat-function" @click="send_message()"></i>
                        </div>
                    </section>
                </main>
            </div>
        </div>

        <script src="script/script.js" charset="utf-8"></script>
    </body>
</html>
